.mainStyle {
    width: 100%;
    display: block;
}

.inputStyle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    height: 30%;
    position: absolute;
    bottom: 5%;

    background-color: rgba(10,10,10,0.05);
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 20px;

    font-size: 1.2em;
}

.previewStyle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    height: 50%;
    position: absolute;
    top: 5%;

    border: solid;
    /*padding: 20px;*/
    word-break: break-all;
    overflow: scroll;
}